<div class="container mt-4">
  <div class="row justify-content-center">
    {{!-- DropDown --}}
    <div class="col-8">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          選擇類別
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="https://google.com">家居物業</a></li>
          <li><a class="dropdown-item" href="#">交通出行</a></li>
          <li><a class="dropdown-item" href="#">休閒娛樂</a></li>
          <li><a class="dropdown-item" href="#">餐飲食品</a></li>
          <li><a class="dropdown-item" href="#">其他</a></li>
          <li><a class="dropdown-item" href="/">全部</a></li>
        </ul>
      </div>
    </div>
    {{!-- Total Amount --}}
    <div class="col-8 mt-4">
      Total Amount: {{totalAmount}} 元
    </div>
    <div class="col-8 mt-4 mb-3">
      <ul class="list-group">
        {{!-- Records --}}
        {{#each records}}
          <li class="list-group-item">
            <div class="row">
              {{!-- icon --}}
              <div class="d-flex col-1 align-items-center">
                <i class="{{this.categoryId.icon}}" style="width: 4px;"></i>
              </div>
              {{!-- categoryName --}}
              <div class="d-flex col-2 align-items-center">
                <span>{{this.categoryId.name}}</span>
              </div>
              {{!-- recordName --}}
              <div class="d-flex col-2 align-items-center">
                <span>{{this.name}}</span>
              </div>
              {{!-- createDay --}}
              <div class="d-flex col-3 align-items-center">
                <span>{{this.date}}</span>
              </div>
              {{!-- recordAmount --}}
              <div class="d-flex col-1 align-items-center">
                <span>{{this.amount}}</span>
              </div>
              {{!-- Edit --}}
              <form action="records/{{this._id}}/edit?_method=PUT" method="POST" class="d-flex col-1 align-items-center">
                <button type="submit" class="btn btn-success">Edit</button>
              </form>
              {{!-- Delete --}}
              <form action="records/{{this._id}}/delete?_method=DELETE" method="POST" class="d-flex col-2 align-items-center">
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
